body {
    
    font-family: Lucida Console;
    margin: 0%;
    padding: 0%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
  
}

table {
    
    border-spacing: 0;
    
}

table td {
    
    padding: 8px;
    border-spacing: 0;
    
}

h1 {
    
    padding: 0px;
    margin: 0px;
    
}

.longText {

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}

.longText2 {

    word-break: break-all;
    
}

#headerMain {
    
    background: #bda6a6;
    color: white;
    padding: 10px;
    margin: 10px 10px 5px 10px;
    box-shadow: 1px 1px 3px 1px gray;
    border-radius: 10px 10px 0px 0px;
  
}

#headerMusic, #headerProgramming {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 1px 1px 3px 1px gray;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    height: 80px;
    transition: height 0.1s ease-out;
    
}

#headerMusic {
    
    background: #8cbf67;

}

#headerProgramming {
    
    background: #6d67bf;

}

.stickyHeader {
   
    height: 50px !important;
   
}

.divInline {
    
    display: flex;
    justify-content: space-between;
    
}

#languages {
    
    display: flex;
    flex-direction: row-reverse;
    
}

#backArrow {

    font-size: 48px !important;
    transition: all 0.2s ease-in;
    margin-right: 20px;
    
}

#backArrow:hover {
    
    transform: translateX(-6px);
    cursor: pointer;
    
}

#headerMain2 {
    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 10px 10px 10px;
    box-shadow: 1px 1px 3px 1px gray;
    border-radius: 0px 0px 10px 10px;
    
}

.selectableBlock, .songBlock {
    
    color: gray;
    padding: 5px;
    margin: 5px;
    box-shadow: .75px .75px 1px .75px gray;
    border-radius: 3px;
    transform: scale(1, 1);
    transition: all 0.1s ease-in;
    transition-property: box-shadow, transform;
    
}

.selectableBlock:hover, .songBlock:hover {
    
    transform: scale(1.01, 1.01);
    box-shadow: 1px 1px 1px 1px gray;
    
}

.songBlock:hover {

    cursor: pointer;
    
}

.fontButton {
    
    color: gray !important;
    transition: color, .2s, ease-in !important;
	font-size: 48px !important;
    
}

.fontButton:hover {
    
    color: black !important;
    cursor: pointer !important;
    
}

#noSongButton {
		
	font-size: 48px !important;
		
}

#noSongButton:hover {
		
    cursor: default;
		
}

.progressBar {
		
	position: static;
		
}

.progressBar:hover {
		
	cursor: pointer;
		
}

.progress, .progressMobile {

	height: 7.5px;
	background-color: lightgray;
	position: absolute;
	overflow: hidden;
	border-radius: 10px;
	transition: height 0.1s ease-out;
		
}

.progress {

	width: 200px;
		
}

.progressMobile {

	width: 85%;
		
}

.progress:hover {
		
    height: 12px;
		
}

.progressLine {

	width: 0%;
	height: 100%;
	background-color: #ff9a57;
	transition: width 0.3s ease-out, background-color 0.3s ease-out;
		
}

.progress:hover + .progressThumb, .progress:hover + .progressThumbIdle {
		
	width: 7.5px;
	height: 15px;
	background-color: #d44913;
		
}

.progress:hover .progressLine {
		
	background-color: #ff6400;
		
}

.progressThumb {
		
	width: 7.5px;
	height: 7.5px;
	border-radius: 10px;
	background-color: #d36135;
	border-color: darkred;
	transition: width 0.1s ease-out, height 0.1s ease-out, border-radius 0.1s ease-out, background-color 0.3s ease-out;;
	position: relative;
	margin-left: -5px;
		
}

.progressThumbIdle {
		
	width: 7.5px;
	height: 7.5px;
	border-radius: 10px;
	background-color: #d36135;
	border-color: darkred;
	transition: width 0.1s ease-out, height 0.1s ease-out, border-radius 0.1s ease-out, left 0.3s ease-out, background-color 0.3s ease-out;;
	position: relative;
    margin-left: -5px;
		
}

.progressThumb:hover {
		
	height: 20px !important;
	border-radius: 5px;
	cursor: pointer;
	background-color: #992e05;
		
}

.progressThumb:hover, .progressThumbIdle:hover {
		
	height: 20px !important;
	border-radius: 5px;
	cursor: pointer;
	background-color: #992e05;
		
}

.trackNumber {

	color: gray;
    margin: 5px;
		
}

*.unselectable {
    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
   
}

#player {
		
    width: 200px;
    margin: 10px;
		
}

#playerMobile {
		
    width: 90%;
    margin: 10px;
		
}

.player {
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}

#songName {
    
    font-size: 24px;
    font-style: italic;
    
}

.blockInfo {
    
    display: flex;
    justify-content: space-between;
    
}

#headerTable td + td {
    
    border-left: 2px solid gray;
    
}

#headerTable td {
    
    background: white radial-gradient(circle, transparent 1%, gray 1%) center/15000%;
    color: gray;
    transition: background, .2s ease-out, color, .2s ease-out;
    
}

#headerTable td:hover {
    
    color: white;
    cursor: pointer;
    background-size: 100%;
    
}

.block {

    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    
}

#blockMain {
    
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    font-size: 18px;
    
}

#blockMusic {
    
    display: flex;
    justify-content: space-around;
    
}

.tagJVM, .tagDev, .tagPlatform {

    padding: 5px;
    display: inline-block;
    color: black;
    border-radius: 5px;
    transition: background 0.2s ease-out, color 0.2s ease-out;
    background: white;

}

.tagJVM:hover, .tagDev:hover, .tagPlatform:hover {
   
    cursor: help;
    color: white;
   
}

.tagJVM {
    
    border: 3px solid red;
    
}

.tagDev {
    
    border: 3px solid orange;
    
}

.tagPlatform {
    
    border: 3px solid green;
    
}

.tagJVM:hover {
    
    background-color: red;
    
}

.tagDev:hover {

    background-color: orange;
    
}

.tagPlatform:hover {

    background-color: green;
    
}

#tagInfo {
   
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    position: fixed;
    top: 100%;
    min-height: 60px;
    overflow: hidden;
    width: 40%;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 1px 1px gray;
    transition: transform 0.2s ease-out, background 0.2s ease-out;
    color: white;
   
}

.tagInfoShowJVM {
   
    transform: translateY(-100%);
    background: red;
   
}

.tagInfoShowDev {
   
    transform: translateY(-100%);
    background: orange;
   
}

.tagInfoShowPlatform {
   
    transform: translateY(-100%);
    background: green;
   
}

#githubButton {
    
    width: 24px;
    height: 24px;
    padding: 3px;
    border-radius: 3px;
    transition: box-shadow 0.1s ease-in, width 0.1s ease-in, height 0.1s ease-in;
    
}

#githubButton:hover {
    
    box-shadow: 1px 1px 2px 2px gray;
    cursor: pointer;
    width: 26px;
    height: 26px;
    
}

#languageText {
    
    color: white;
    background-color: #bda6a6;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    padding: 5px;
    
}

#languageText:hover {
    
    background-color: white;
    cursor: pointer;
    color: gray;
    
}

#languageTextChosen {
    
    color: gray;
    background-color: white;
    padding: 5px;
    
}

.playerBlock, .playerBlockMobile {

    position: fixed;
    background: white;
    z-index: 2;
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
    padding: 3px;
    border-radius: 0px 0px 5px 5px;
    
}

.playerBlockMobile {
    
    width: 90%;
    
}

.playerBlockFloating {
    
    box-shadow: 1px 1px 2px 2px gray;
    transform: translateY(-48px);
    
}